<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="klimovskii_kosoiEntities" connectionString="metadata=res://*/KosoiPerModel.csdl|res://*/KosoiPerModel.ssdl|res://*/KosoiPerModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=176.9.72.54;user id=klimovskii;password=FpaNWlYGg;database=klimovskii_kosoi;persistsecurityinfo=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>